.endGameStats {
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 59, 59);
    margin: 25px 0;

    &__table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;

        &__header {
            border: 1px solid black;

            &__col {
                border: 1px solid black;
                padding: 5px;
            }
        }

        &__row {
            border: 1px solid black;

            &__col {
                border: 1px solid black;
                padding: 5px;
            }
        }
    }
}