.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 50px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cell {
        width: 50px;
        height: 50px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.297);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .planeCell {
        background-color: #000;
        color: white;
    }
}

.gridGameOverState {
    opacity: 0.5;
    pointer-events: none;
}

.gameOver {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 59, 59);
}